services:
  php-app:
    build:
      context: docker/php-app
    depends_on:
      - mysql
      - mysql-for-test
      - redis
    volumes:
      - ./app:/var/www/html
    environment:
      CACHE_SESSION_URL: "redis://redis"
      WEB_DOCUMENT_ROOT: "/app/webroot"
      DEBUG: "true"
      DATABASE_URL: "mysql://PvgAxx6s1yzgWa5.root:LWd1fMpS7KMIIvsh@gateway01.ap-southeast-1.prod.aws.tidbcloud.com:4000/test"
      DATABASE_TEST_URL: "mysql://tutorials:sup3r_s3cr3t@mysql-for-test/tutorials"
      XDEBUG_CONFIG: "client_host=host.docker.internal"
      XDEBUG_MODE: "develop,debug"
      XDEBUG_SESSION: 1
      PHP_IDE_CONFIG: "serverName=tutorial"
    ports:
      - "8080:80"

  mysql:
    image: mysql:8.0
    volumes:
      - mysql-data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: "sup3r_s3cr3t"
      MYSQL_USER: "tutorials"
      MYSQL_PASSWORD: "sup3r_s3cr3t"
      MYSQL_DATABASE: "tutorials"
    command: mysqld --character-set-server=utf8 --init-connect='SET NAMES UTF8;'
    ports:
      - "3307:3306"

  redis:
    image: redis:6.2.7

  mysql-for-test:
    image: mysql:8.0
    depends_on:
      - mysql
    environment:
      MYSQL_ROOT_PASSWORD: "sup3r_s3cr3t"
      MYSQL_USER: "tutorials"
      MYSQL_PASSWORD: "sup3r_s3cr3t"
      MYSQL_DATABASE: "tutorials"
    tmpfs:
        - /var/lib/mysql

  node:
    image: node:20.12.2
    working_dir: /home/node/app
    volumes:
      - ./frontend:/home/node/app
      - ./app/webroot:/home/node/app/build
    # Since the volume is per container, leave it running.
    tty: true

  minio:
    image: minio/minio:latest
    environment:
      MINIO_ROOT_USER: "AKIAEXAMPLEEXAMPLEEX"
      MINIO_ROOT_PASSWORD: "EXAMPLESECRETKEY/EXAMPLESECRETKEY/EXAMPL"
    command: server /data --console-address ":9001"
    ports:
      - "9005:9000"
      - "9004:9001"
    volumes:
      - minio-data:/data

volumes:
  mysql-data:
  minio-data:
