services:
  - type: web
    name: pilot-project
    runtime: docker
    dockerfilePath: ./Dockerfile
    plan: free
    envVars:
      - key: PORT
        value: "10000"
      - key: DEBUG
        value: "false"
      - key: DATABASE_URL
        sync: false
      - key: SECURITY_SALT
        generateValue: true
      - key: GOOGLE_OAUTH_CLIENT_ID
        sync: false
      - key: GOOGLE_OAUTH_CLIENT_SECRET
        sync: false
